<footer class="site-footer">

    <div class="site-footer__items-wrapper container">

        <div class="site-footer__info-row">

            <div class="site-footer__info-col">
                <h3 class="site-footer__col-title">
                    Know Before You Go
                </h3>

                <ul class="site-footer__list">
                    <li>
                        <a href="/private-shore-excursions-on-rhodes-greece/">
                            Our Story
                        </a>
                    </li>
                    <li>
                        <a href="#">Why Tour with Us</a>
                    </li>
                    <li>
                        <a href="#">Rhodes Private Tours</a>
                    </li>
                    <li>
                        <a href="#">Excursions Worry Free</a>
                    </li>
                    <li>
                        <a href="#">Excursion Quality</a>
                    </li>
                    <li>
                        <a href="#">Cruises to Rhodes</a>
                    </li>
                    <li>
                        <a href="#">Rhodes Quick Facts</a>
                    </li>
                </ul>
            </div>

            <div class="site-footer__info-col site-footer__info-col--middle">
                <div class="site-footer__info-col__middle-wrapper">
                    <h3 class="site-footer__col-title">
                        Things to do in Rhodes
                    </h3>
                
                    <ul class="site-footer__list">
                        <li>
                            <a href="#">Rhodes Pottery</a>
                        </li>
                        <li>
                            <a href="#">Rhodes Food Tour</a>
                        </li>
                        <li>
                            <a href="#">The Jewish Quarter</a>
                        </li>
                        <li>
                            <a href="#">Byzantine Monuments</a>
                        </li>
                        <li>
                            <a href="#">The Knights of Rhodes</a>
                        </li>
                        <li>
                            <a href="#">Ottoman Sights</a>
                        </li>
                        <li>
                            <a href="#">Italian Architecture</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="site-footer__info-col">
                <h3 class="site-footer__col-title">
                    Address:
                </h3>
                <ul class="site-footer__list">
                    <li>
                        Rhodes Island 85100 Greece
                    </li>
                    <li>
                        From USA: <a class="mobile-only mobile-only--inline" href="tel:01130-6934596990">01130 - 6934596990</a><span class="desktop-only desktop-only--inline">01130 - 6934596990</span>
                    </li>
                    <li>
                        From Australia: <a class="mobile-only mobile-only--inline" href="tel:001130-6934596990">001130 - 6934596990</a><span class="desktop-only desktop-only--inline">001130 - 6934596990</span>
                    </li>
                    <li>
                        From EU: <a class="mobile-only mobile-only--inline" href="tel:0030-6934596990">0030 - 6934596990</a><span class="desktop-only desktop-only--inline">0030 - 6934596990</span>
                    </li>
                    <li>
                        Within Greece: <a class="mobile-only mobile-only--inline" href="tel:6934596990">6934596990</a><span class="desktop-only desktop-only--inline">6934596990</span>
                    </li>                    
                </ul>

                <div class="koinonika">
                    <h3 class="site-footer__info-title site-footer__info-title--follow-us">
                        <a href="mailto:request@RhodesShoreExcursions.com">request@RhodesShoreExcursions.com</a>
                    </h3>
                    <div class="koinonika__icons">
                        <a class="koinonika__link koinonika__link--fatsobiblio" href="#">
                            {%- include svg/facebook.svg -%}
                        </a>
                        <a class="koinonika__link koinonika__link--sindesi_mesa" href="#">
                            {%- include svg/linkedin.svg -%}                            
                        </a>
                        <a class="koinonika__link koinonika__link--karfitsoste" href="#">
                            {%- include svg/pinterest.svg -%}                            
                        </a>                        
                    </div>
                </div>                    

        </div>

        </div>

        <div class="site-footer__bottom-info">
            <span class="site-footer__bottom-info-item">EOT (GNTO) N. 1476E6000010971</span>
            <span class="mid-desktop-only mid-desktop-only--inline">&nbsp;</span>
            <span class="site-footer__bottom-info-item">ΓΕΜΗ (G.C.R) N. 000146680620000</span>
        </div>

        <p class="site-footer__copyright">
            <span class="site-footer__bottom-info-item">@ {{ site.time | date: '%Y' }} RhodesShoreExcursions.com</span>
            <span class="mid-desktop-only mid-desktop-only--inline"> | </span>
            <span class="site-footer__bottom-info-item">Rhodes Shore Excursions</span>
        </p>

    </div>

</footer>