<nav class="site-nav" id="site-nav">
    <div class="container site-nav__container">
        <div id="site-nav__burger" class="site-nav__item site-nav__item--burger">
            {%- include svg/burger.html -%}
        </div>
        <ul id="site-nav__items" class="site-nav__items" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
            {%- for item in site.data.navigation.main.items -%}
                {%- assign sublinks_size = item.sublinks | size -%}
                <li itemprop="name" class="site-nav__item{% if page.type == item.type %} site-nav__item--active{% endif %}{% if sublinks_size > 0 %} site-nav__item--with-sublinks{% endif %}">
                    <a itemprop="url" href="{{- item.url | relative_url -}}" class="site-nav__item-link{% if sublinks_size > 0 %} site-nav__item-link--with-sublinks{% else %} site-nav__item-link--no-sublinks{% endif %}">
                        {{- item.title | upcase -}}
                    </a>
                    {%- if sublinks_size > 0 -%}
                        <div class="site-nav__chevron">
                            {%- include svg/chevron-down.html -%}
                        </div>
                    {%- endif -%}
                    {%- if sublinks_size > 0 -%}
                        <ul class="site-nav__subitems">
                            {%- for subitem in item.sublinks -%}
                                <li class="site-nav__item site-nav__item--sublink">
                                    <a href="{{- subitem.url | relative_url -}}" class="site-nav__item-link site-nav__item-link--sublink">
                                        {{- subitem.title -}}
                                    </a>
                                </li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </li>
            {%- endfor -%}
        </ul>
    </div>
</nav>