.site-nav {

    background-color: $lightblue;

    &__container {
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    &__items {
        display: none;
        list-style: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 52px;
        left: 0;
        width: 100%;
        background-color: $darkblue;
        &--opened {
            box-shadow: 0 6px 11px -6px $yellow;
        }
    }
    
    &__item {
        display: block;
        &--active {
            background-color: $black;
        }

        &--burger {
            padding: 8px;
            cursor: pointer;
            color: #fff;
            font-size: 1.2rem;
            
            @include breakpoint(large) {
                display: none;
            }
        }

        @include breakpoint(large) {
            display: block;
        }

        &--with-sublinks {
            position: relative;
        }
    }
    
    &__item-link {
        text-decoration: none;
        color: #fff;
        display: block;
        padding: 14px 9px;
        font-size: 1.1rem;
        letter-spacing: 1.5px;
        transition: color .1s linear;
        &:hover {
            color: $yellow;
        }
        &--sublink {
            white-space: nowrap;
        }
    }

    &__subitems {
        background-color: $darkblue;
        padding-left: 20px;
        display: none;
    }

    &__burger-icon {
        fill: #fff;
        stroke: $lightblue;
    }

    &__chevron {
        position: absolute;
        top: 0;
        right: 0;
    }

    .chevron-icon {
        fill: #fff;
        transition: all .3s linear;
    }

}