.tour-form {

    margin: 2rem auto;

    &__header {
        background-color: $gray;
        padding: 1.5rem 0;
        text-align: center;
        @include breakpoint(large) {
            background-color: unset;
            padding: 0;
        }
    }
    
    &__header-content {
        background-color: $gray;
        padding: 1.5rem 0;
    }
    
    &__form-wrapper {
        padding: 0;
        background-color: $darkblue;
        color: #fff;
        @include breakpoint(large) {
            background-color: unset;            
        }
    }
    
    &__form-header {
        text-align: center;
    }
    
    &__form {
        margin: 1.5rem auto;
        max-width: 600px;
    }
    
    &__form-content {
        @include breakpoint(large) {
            background-color: $darkblue;
            padding: 1.5rem 0;            
        }
    }

}