img {
    max-width: 100%;
}

.head-photo {
    img {
        width: 100%;
        margin-bottom: -3px;
    }
}

.section {

    padding-top: 1rem;
    padding-bottom: 1rem;

    &--dark {
        background-color: $darkblue;
        color: white;
    }

    &--light {
        background-color: $lightblue;
        color: white;
    }

    &--lighter {
        background-color: $lighterblue;
        color: white;
    }

}