img {
    max-width: 100%;
}

.head-photo {
    img {
        width: 100%;
        margin-bottom: -3px;
    }
}

.section {

    padding-top: 1rem;
    padding-bottom: 1rem;

    &--dark {
        background-color: $darkblue;
        color: white;
    }

    &--light {
        background-color: $lightblue;
        color: white;
    }

    &--lighter {
        background-color: $lighterblue;
        color: white;
    }

}

.separator {
    display: block;
    width: 100%;
    height: 2rem;
    &--darkblue {
        background-color: $darkblue;
    }
}

.anchor-section {
    display: block;
    height: 30px;
    margin-top: -30px;
    visibility: hidden;
}

.preload {
    position: absolute;
    left: -9999px;
    top: -9999px;
}