.full-width {
    width: 100%;
    display: block;
}

.rotate-180 {
    transform: rotate(180deg);
}

.centered {
    text-align: center;
}

.hidden {
    visibility: hidden;
}

.mobile-only {
    &--inline {
        display: inline;
    }
    &--block {
        display: block;
    }
    &--inline-block {
        display: inline-block;
    }
    @include breakpoint(small) {
        display: none;
    }
}

.tablet-only {
    display: none;
    &--block {
        @include breakpoint(small) {
            display: block;
        }
    }
    &--inline {
        @include breakpoint(small) {
            display: inline;
        }
    }
    &--inline-block {
        @include breakpoint(small) {
            display: inline-block;
        }
    }
}

.desktop-only {
    display: none;
    &--block {
        @include breakpoint(medium) {
            display: block;
        }
    }
    &--inline {
        @include breakpoint(medium) {
            display: inline;
        }
    }
    &--inline-block {
        @include breakpoint(medium) {
            display: inline-block;
        }
    }
}

.large-desktop-only {
    display: none;
    &--block {
        @include breakpoint(large) {
            display: block;
        }
    }
    &--inline {
        @include breakpoint(large) {
            display: inline;
        }
    }
    &--inline-block {
        @include breakpoint(large) {
            display: inline-block;
        }
    }
}

.w-10-rem {
    width: 10rem !important;
}