.pop-form-button {

    position: fixed;
    left: 16px;
    bottom: 14px;
    cursor: pointer;
    opacity: .9;
    z-index: 90;

    a {
        display: block;
        background-color: $yellow;
        border-radius: 100%;
        padding: 8px 10px;
        transition: background-color .1s linear;
        &:hover {
            background-color: $darkyellow;
            svg {
                stroke: $darkblue;
            }
        }
    }

    svg {
        stroke: $blue;
        width: 34px;
        height: 34px;
        position: relative;
        top: 1px;
    }

}

.pop-form {

    position: fixed;
    left: 0.3rem;
    bottom: 0;
    z-index: 100;
    // display: none;
    opacity: 1;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    box-shadow: 0 0 6px #666;

    &__header {
        background-color: $yellow;
        color: $lightblue;
        padding: 1rem 1.5rem;
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: 1px;
        position: relative;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &__body {
        background-color: $lightblue;
        padding: 1rem 1.5rem;
    }

    &__group {
        margin-bottom: 1rem;
    }

    &__label {
        color: #fff;
        display: block;
        margin-bottom: 0.3rem;
    }

    &__submit {
        color: $darkblue;
    }

    &__close {
        position: absolute;
        right: -10px;
        top: -10px;
        font-size: 2.5rem;
        cursor: pointer;
        svg {
            width: 80px;
            height: 80px;
            stroke: $darkblue;
        }
    }

    @media (max-height: 465px) {
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

}