.tour {

    @include clearfix;

    &__header {
        background-color: $gray;
        padding: 1.5rem;
    }

    &__intro {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    &__nav {
        position: sticky;
        top: 52px;
        background-color: $darkblue;
        margin-top: -1rem;
        z-index: 1;
        @include breakpoint(large) {
            top: 46px;            
        }
        @include breakpoint(semi_large) {
            top: 48px;            
        }
    }

    &__nav-titles {
        list-style: none;
        padding: 0;
        font-size: 1.2rem;
        margin: 0;
        @include clearfix;
        .tour__nav-title {
            border-right: 1px solid $yellow;
            float: left;
        }
        .tour__nav-anchor {
            &:visited,
            &:active {
                color: #fff;
            }
            background-color: $darkblue;
            color: #fff;
            display: block;
            padding: 8px 4px;
            text-decoration: none;
            min-height: 62px;
            .space {
                display: block;
            }
            &:hover {
                color: $yellow;
            }
            &.active {
                color: $yellow;
            }
            @include breakpoint(smaller) {
                padding: 8px 6px;
            }
            @include breakpoint(small) {
                padding: 8px 16px;
            }
            @include breakpoint(smallish) {
                min-height: auto;
                padding: 8px 6px;                
                .space {
                    display: inline;
                }
            }
            @include breakpoint(medium) {
                padding: 8px 12px;                
            }
            &--first {
                padding-left: 0;
            }
        }
    }

    &__section-content {
        ol {
            // list-style: none;
            // counter-reset: tour-content-ol-counter;
            // padding: 0;
            li {
                &::marker {
                    font-weight: bold;
                }
                // counter-increment: tour-content-ol-counter;
                // &::marker {
                //     content: counter(tour-content-ol-counter) ". ";
                //     font-weight: bold;
                // }
            }
        }
    }

    &__section-details {
        font-style: oblique;
        line-height: 1.4;
        p,
        ul,
        ol {
            margin: 0;
            margin-bottom: 0.5rem;
        }
    }

    &__section-route-map-wrapper {
        text-align: center;
    }

    &__section-route-map-img {
        border: 2px solid $lightblue;
        border-radius: 4px;
        box-shadow: 0 10px 10px -12px #27334a;
        @include breakpoint(small) {            
            max-width: 95%;
        }
    }

    &__section-separator {
        margin: 3rem auto 2rem;
        width: 85%;
        border: 1px solid $blue;
        box-shadow: 0px 1px 3px 0px $darkblue;
    }

    &__inclusion-item {
        margin-bottom: .3em;
        display: flex;
    }

    &__inclusion-item-icon {
        position: relative;
        top: 3px;
        margin-right: 0.2rem;
        @supports(display: flex){
            margin-right: .4rem;
        }
        .inclusion-icon {
            width: 22px;
            height: 22px;            
        }
    }

    &__inclusion-item-desc {
        &--not-included {
            color: $red;
        }
    }

}