$darkblue: #27334a;
$lightblue: #26334d;
$blue: #26437e;
$yellow: #d4af37;

@mixin breakpoint($point) {
    @if $point == smaller {
        @media (max-width: 425px) { @content; }
    }
    @if $point == small {
        @media (max-width: 576px) { @content; }
    }
    @if $point == medium {
        @media (max-width: 768px) { @content; }
    }
    @if $point == large {
        @media (max-width: 1024px) { @content; }
    }
    @else if $point == larger {
        @media (max-width: 1200px) { @content; }
    }
}

@mixin clearfix {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
}