<strong class="collapse-sibling" markdown="1">
IMPORTANT INFORMATION FOR VISITORS TO THE OLD TOWN OF RHODES <svg class="svg-inline--fa fa-angle-down fa-w-10 tour__read-more-arrow-icon icon" aria-hidden="true" data-prefix="fas" data-icon="angle-down" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" data-fa-i2svg=""><path fill="currentColor" d="M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z"></path></svg>
</strong>

<div class="collapsible-sibling" markdown="1">
The Medieval Old Town of Rhodes is a protected archaeological and historical site, and guided tours inside the area are subject to specific regulations under Greek law.

Some websites promote chauffeur-driven tours that claim to include a “walking tour” within the Old Town. Please note that only officially licensed tour guides are legally permitted to conduct guided tours inside archaeological sites and historical monuments in Greece.

During a chauffeur-driven tour, your driver may bring you close to one of the Old Town gates and provide directions on where to enter and exit. From there, you are welcome to explore the Medieval City independently and at your own pace. The driver can then meet you at a prearranged gate to continue the rest of your driving tour.

If you prefer a guided visit within the Old Town itself, this must be arranged with a licensed professional tour guide. (Please contact us for more details)

For cruise ship passengers who choose driving tours with a driver only, we usually recommend visiting the Old Town at the end of the tour. The driver can conclude the tour at one of the gates of the Medieval City, giving you the opportunity to explore the area independently and then walk back to your ship at your own pace. The distance from the Old Town to the cruise port is about a 10-minute walk, which helps you save time and avoid additional driver waiting charges.
</div>