<div class="tour__gallery-wrapper">
    <div class="tour__gallery">
        {%- for img in page.gallery.images -%}
            <a href="{{- img.path | relative_url -}}" data-fancybox="tour-gallery" class="tour__gallery-item hidden">
                <img src="{{- img.path | relative_url -}}" alt="">
            </a>
        {%- endfor -%}
    </div>
    <div class="tour__gallery-nav">
        {%- for img in page.gallery.images -%}
            <div class="tour__gallery-thumb hidden">
                <img src="{{- img.thumb | relative_url -}}" alt="">
            </div>
        {%- endfor -%}
    </div>
</div>