<div class="form__body mobile-only mobile-only--block">

    <form action="">
        <div class="form__group">
            <label class="form__label" for="first_last_name">First and Last Name* :</label>
            <input class="form__input form__input--text" type="text" name="first_last_name" required>
        </div>        
        <div class="form__group">
            <label class="form__label" for="city_state_zip">City/State/Country* :</label>
            <input class="form__input form__input--text" type="text" name="city_state_zip" required>
        </div>
        <div class="form__group">
            <label class="form__label" for="e_mail">E-mail* :</label>
            <input class="form__input form__input--text" type="email" name="e_mail" required>
        </div>                    
        <div class="form__group">
            <label class="form__label" for="comments">Comments: <span class="mobile-only mobile-only--inline">Please include:<br>"Tour Start Location" and "Tour Date"</span></label>
            <textarea class="form__input form__input--textarea" name="comments" cols="30" rows="3"></textarea>
        </div>

        <p>
            * : required fields
        </p>

        <button type="submit" class="form__submit">
            Send
        </button>
    </form>

</div>