---
layout: page
---
{{ content }}

<section class="about__profile">

    <h2 class="about__profile-title">
        {{- page.profile.title -}}
    </h2>

    <div class="about__profile-info">
        <div class="about__profile-img-wrapper">
            <img src="{{- page.profile.image.image | relative_url -}}" alt="{{- page.profile.image.alt_text -}}" class="about__profile-img">
        </div>
        <div class="about__profile-text">
            {{ page.profile.text | markdownify }}
        </div>
    </div>

</section>

<section class="page__gallery about__gallery">

    {%- for item in page.gallery.items -%}
        <figure class="page__gallery-item about__gallery-item page__gallery-item--{{ forloop.index }} page__gallery-item--{{ forloop.index }}-of-{{ page.gallery.items_per_row }} page__gallery-item--of-{{ page.gallery.items_per_row }}">
            <a href="{{- item.image.href | relative_url -}}" data-fancybox="page-gallery" data-caption="{{- item.caption | escape -}}">
                <img class="page__gallery-item-img about__gallery-item-img" src="{{- item.image.thumb | relative_url -}}" alt="{{- item.image.alt -}}">
            </a>
            <figcaption class="page__gallery-item-caption about__gallery-item-caption">
                {{- item.caption -}}
            </figcaption>
        </figure>
    {%- endfor -%}

</section>