---
layout: page
---
{%- assign sections_size = page.sections | size -%}    
{%- if sections_size > 0 -%}
    {%- for section in page.sections -%}
        <div class="page__section">
            {%- if section.title and section.title.size > 0 -%}
                <h2 class="page__section-title">
                    {{- section.title -}}
                </h2>
            {%- endif -%}
            {%- if section.text and section.text.size > 0 -%}
                <div class="page__section-text">
                    {{ section.text | markdownify }}
                </div>
            {%- endif -%}
            {%- assign gallery_size = section.gallery.items | size -%}
            {%- if gallery_size > 0 -%}
                {%- include partials/page-gallery.html the_gallery = section.gallery -%}
            {%- endif -%}
        </div>
    {%- endfor -%}
{%- endif -%}    