---
layout: default
---

<section class="head-photo head-photo--home">
    <img src="{{- page.head_photo.img -}}" alt="{{- page.head_photo.alt_text -}}" class="head-photo__img">
</section>

<section class="section section--home section--dark">
    <div class="container home__tours-container">
        <div class="home__tours-items grid">
            {%- for tour in site.data.tours -%}
                <div class="home__tour-wrapper col col--1-3">
                    <div class="home__tour">
                        <div class="home__tour-img-wrapper">
                            <a href="{{- tour.url -}}" class="home__tour-img-link">
                                <img src="{{- tour.thumb.img -}}" alt="{{- tour.thumb.alt_text -}}" class="home__tour-img">
                            </a>
                        </div>
                        <div class="home__tour-text">
                            <h3 class="home__tour-title">
                                <a href="{{- tour.url -}}" class="home__tour-title-link">
                                    {{- tour.title -}}
                                </a>
                                {%- if tour.duration and tour.duration.size > 0 -%}
                                    <p class="home__tour-duration">
                                        {{ tour.duration }}
                                    </p>
                                {%- endif -%}
                            </h3>
                        </div>
                    </div>
                </div>
            {%- endfor -%}
        </div>
    </div>
</section>

<section class="section section--home">
    <div class="container home__tours-container">
        <div class="home__content">
            {{ content }}
        </div>
    </div>
</section>

<section class="section section--home section--light">
    <div class="container home__tours-container">
        <h2 class="home__destinations-title">
            {{- site.data.destinations.title -}}
        </h2>
        <div class="home__destinations">
            {%- for dest in site.data.destinations.items -%}
                {%- assign modulo_two = forloop.index | modulo: 2 -%}
                {%- assign modulo_three = forloop.index | modulo: 3 -%}
                {%- assign modulo_six = forloop.index | modulo: 6 -%}
                <a class="home__destination{% if modulo_two == 0 %} home__destination--two{% endif %}{% if modulo_three == 0 %} home__destination--three{% endif %}{% if modulo_six == 0 %} home__destination--six{% endif %}" href="{{- dest.url -}}">
                    <span class="home__destination-text">
                        {{- dest.title -}}
                    </span>
                </a>
            {%- endfor -%}
        </div>
    </div>
</section>