---
layout: default
---
{%- if page.head_photo and page.head_photo.img.size > 0 -%}
    <section class="head-photo head-photo--page head-photo--{{ page.type }}">
        {%- if page.head_photo.mobile and page.head_photo.mobile.size > 0 -%} 
          <picture>
            <source srcset="{{ page.head_photo.img | relative_url }}"
                    media="(min-width: 576px)">
            <img src="{{ page.head_photo.mobile | relative_url }}" alt="{{- page.head_photo.alt_text -}}" class="head-photo__img">
          </picture>
        {%- else -%}
          <img src="{{- page.head_photo.img | relative_url -}}" alt="{{- page.head_photo.alt_text -}}" class="head-photo__img">
        {%- endif -%}
    </section>
{%- endif -%}

<article class="page">

  <div class="container">

    {%- if page.title.size > 0 or page.subtitle.size > 0 -%}
      <div class="page__header">
        {%- if page.title.size > 0 -%}
          <h1 class="page__title">
            {{- page.title -}}
          </h1>
        {%- endif -%}
        {%- if page.subtitle.size > 0 -%}
          <h2 class="page__subtitle">
            {{- page.subtitle -}}
          </h2>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="page__content">

      {{ content }}

      {%- if page.outro and page.outro.size > 0 -%}
        <p class="page__outro">
          {{- page.outro -}}
        </p>
      {%- endif -%}
    </div>
    

  </div>

</article>
