---
layout: default
---

<div class="page__header tour__header">
    <div class="container">
        <h1 class="page__title tour__title">
            “{{- page.title -}}”
        </h1>
        <div class="page__intro tour__intro">
            {{ page.intro | markdownify }}
        </div>
    </div>
</div>

<div class="tour__nav">
    <div class="container">
        <ul class="tour__nav-titles">
            <li class="tour__nav-title">
                <a href="#itinerary" class="tour__nav-anchor tour__nav-anchor--first">
                    Excursion<span class="space"> </span>Itinerary
                </a>
            </li>
            <li class="tour__nav-title">
                <a href="#route-map" class="tour__nav-anchor">
                    Route<span class="space"> </span>Map
                </a>
            </li>
            <li class="tour__nav-title">
                <a href="#useful-info" class="tour__nav-anchor">
                    Useful<span class="space"> </span>Info
                </a>
            </li>
            <li class="tour__nav-title">
                <a href="#inclusions" class="tour__nav-anchor">
                    Inclusions
                </a>
            </li>
            <li class="tour__nav-title">
                <a href="#gallery" class="tour__nav-anchor">
                    Gallery
                </a>
            </li>
        </ul>
    </div>
</div>

<article class="page{% if page.type and page.type.size > 0 %} {{ page.type }}{% endif %}">

    <div class="container">
    
        <div class="page__content tour__content">
        

            <div class="tour__sections">

                <section class="tour_section tour__section--itinerary" id="itinerary">
                    <h2 class="tour__section-header">
                        {{- page.itinerary.title -}}
                    </h2>

                    <div class="tour__section-headings">
                        <h3 class="tour__section-heading">
                            {{- page.itinerary.heading -}}
                        </h3>
                        {%- if page.itinerary.description and page.itinerary.description.size > 0 -%}
                            <p class="tour__section-description">
                                {{- page.itinerary.description -}}
                            </p>
                        {%- endif -%}
                    </div>

                    <div class="tour__section-content">
                        {{ content }}
                    </div>

                    <div class="tour__section-details">
                        {{ page.itinerary.details | markdownify }}
                    </div>
                </section>

                <div class="tour__section-separator"></div>

                <section class="tour_section tour__section--route-map" id="route-map">
                    <h2 class="tour__section-header">
                        {{- page.route_map.title -}}
                    </h2>

                    <div class="tour__section-headings">            
                        <p class="tour__section-description centered">
                            {{- page.route_map.description -}}
                        </p>
                    </div>

                    <div class="tour__section-content">
                        <div class="tour__section-route-map-wrapper">
                            <img src="{{- page.route_map.map.path | relative_url -}}" alt="page.route_map.map.alt" class="tour__section-route-map-img">
                        </div>
                    </div>

                </section>

                <div class="tour__section-separator"></div>

                <section class="tour_section tour__section--useful" id="useful-info">
                    <h2 class="tour__section-header">
                        {{- page.useful.title -}}
                    </h2>
                    <div class="tour__section-content">
                        {{ page.useful.text | markdownify }}
                    </div>
                </section>
                
                <div class="tour__section-separator"></div>

                <section class="tour_section tour__section--inclusions" id="inclusions">
                    <h2 class="tour__section-header">
                        {{- page.inclusions.title -}}
                    </h2>
                </section>

                <div class="tour__section-separator"></div>
                <section class="tour_section tour__section--gallery" id="gallery">
                    <h2 class="tour__section-header">
                        {{- page.gallery.title -}}
                    </h2>
                </section>

            </div> {%- comment -%} tour__sections {%- endcomment -%}

        </div>

        <aside class="tour__aside">
            Aside content
        </aside>

    </div>


</article>