---
layout: default
---

<div class="page__header tour__header">
    <div class="container">
        <h1 class="page__title tour__title">
            “{{- page.title -}}”
        </h1>
        <div class="page__intro tour__intro">
            {{ page.intro | markdownify }}
        </div>
    </div>
</div>

<div class="tour__content-wrapper">
    
    <article class="page{% if page.type and page.type.size > 0 %} {{ page.type }} {% endif %}tour__main{% if page.outro and page.outro.size > 0 %} tour__main--with-outro{% endif %}">
        
        <div class="tour__nav">
            <div class="container">
                <ul class="tour__nav-titles">
                    <li class="tour__nav-title">
                        <a href="#itinerary" class="tour__nav-anchor tour__nav-anchor--first">
                            <span class="tablet-only tablet-only--inline">Excursion </span>Itinerary
                        </a>
                    </li>
                    <li class="tour__nav-title">
                        <a href="#route-map" class="tour__nav-anchor">
                            Route<span class="space"> </span>Map
                        </a>
                    </li>
                    <li class="tour__nav-title">
                        <a href="#useful-info" class="tour__nav-anchor">
                            Useful<span class="space"> </span>Info
                        </a>
                    </li>
                    <li class="tour__nav-title">
                        <a href="#inclusions" class="tour__nav-anchor">
                            Inclusions
                        </a>
                    </li>
                    <li class="tour__nav-title">
                        <a href="#request" class="tour__nav-anchor">
                            Request
                        </a>
                    </li>
                    <li class="tour__nav-title tour__nav-title--last">
                        <a href="#gallery" class="tour__nav-anchor">
                            Gallery
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    
        <div class="page__content tour__content">        
    
            <div class="tour__sections">
    
                <section class="tour__section tour__section--itinerary" id="itinerary">
                    <div class="container">
                        <h2 class="tour__section-header">
                            {{- page.itinerary.title -}}
                        </h2>
    
                        <div class="tour__section-headings">
                            <h3 class="tour__section-heading">
                                {{- page.itinerary.heading -}}
                            </h3>
                            {%- if page.itinerary.description and page.itinerary.description.size > 0 -%}
                                <p class="tour__section-description">
                                    {{- page.itinerary.description -}}
                                </p>
                            {%- endif -%}
                        </div>
    
                        <div class="tour__section-content">
                            {{ content }}
                        </div>
    
                        <div class="tour__section-details">
                            {{ page.itinerary.details | markdownify }}
                        </div>
                    </div>
                </section>
    
                <div class="tour__section-separator"></div>
    
                <section class="tour__section tour__section--route-map" id="route-map">
                    <div class="container">
                        <h2 class="tour__section-header">
                            {{- page.route_map.title -}}
                        </h2>
    
                        <div class="tour__section-headings">            
                            <p class="tour__section-description centered">
                                {{- page.route_map.description -}}
                            </p>
                        </div>
    
                        <div class="tour__section-content">
                            <div class="tour__section-route-map-wrapper">
                                <img src="{{- page.route_map.map.path | relative_url -}}" alt="page.route_map.map.alt" class="tour__section-route-map-img">
                            </div>
                        </div>
                    </div>
                </section>
    
                <div class="tour__section-separator"></div>
    
                <section class="tour__section tour__section--useful" id="useful-info">
                    <div class="container">
                        <h2 class="tour__section-header">
                            {{- page.useful.title -}}
                        </h2>
                        <div class="tour__section-content">
                            {{ page.useful.text | markdownify }}
                        </div>
                    </div>
                </section>
                
                <div class="tour__section-separator"></div>
    
                <section class="tour__section tour__section--inclusions" id="inclusions">
                    <div class="container">
                        <div class="tour__inclusions-wrapper">
                            <h2 class="tour__section-header">
                                {{- page.inclusions.title -}}
                            </h2>
                            <div class="tour__section-content">
                                {%- for item in page.inclusions.included -%}
                                    <div class="tour__inclusion-item">
                                        <span class="tour__inclusion-item-icon">
                                            {%- include svg/done.html -%}                                    
                                        </span>
                                        <span class="tour__inclusion-item-desc">
                                            {{- item -}}
                                        </span>
                                    </div>
                                {%- endfor -%}                                
                            </div>
                        </div>
                        {%- assign not_included_size = page.inclusions.not_included | size -%}
                        {%- if not_included_size > 0 -%}
                            <div class="tour__inclusions-wrapper">
                                <h2 class="tour__section-header tour__section-header--exclusions">
                                    Exclusions
                                </h2>
                                <div class="tour__section-content">                                    
                                    {%- for item in page.inclusions.not_included -%}
                                        <div class="tour__inclusion-item">
                                            <span class="tour__inclusion-item-icon">
                                                {%- include svg/clear.html -%}                                    
                                            </span>
                                            <span class="tour__inclusion-item-desc">
                                                {{- item -}}
                                            </span>
                                        </div>
                                    {%- endfor -%}                            
                                </div>
                            </div>
                        {%- endif -%}
                    </div>
                </section>

                <section class="tour__section tour-form" id="#request">
                    {%- include partials/tour/form.html -%}
                </section>
    
    
                <div class="tour__section-separator"></div>
    
                <section class="tour__section tour__section--gallery" id="gallery">
                    <h2 class="tour__section-header">
                        {{- page.gallery.title -}}
                    </h2>
                    <div class="tour__section-content">
                        {%- include partials/tour/gallery.html -%}
                    </div>
                </section>
    
            </div> {%- comment -%} tour__sections {%- endcomment -%}
    
        </div>
        
    </article>

    <div class="tour__section-separator tablet-only tablet-only--block "></div>
    
    <aside class="tour__aside">
        <div class="container">
            <h3 class="tour-aside__title">
                Thirty-Six Years of Quality Shore Excursions 1984 - 2020
            </h3>
            <div class="tour-aside__content">
                <p>
                    <a href="{{- '/worry-free/' | relative_url -}}">
                        Guaranteed Return to Ship
                    </a>
                </p>
                <p>
                    <a href="{{- '/independent-greece/' | relative_url -}}">
                        Book with Confidence
                    </a>
                </p>
            </div>
            <div class="tour-aside__block">
                <h4 class="tour-aside__block-title">
                    MORE SHORE EXCURSIONS
                </h4>
                <div class="tour-aside__block-content">
                    <ul>
                        {%- for tour in site.data.tours -%}
                            {%- unless tour.id == page.id -%}
                                <li>
                                    <a href="{{- tour.url | relative_url -}}">
                                        {{- tour.title -}}
                                    </a>
                                </li>
                            {%- endunless -%}
                        {%- endfor -%}
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    
</div>

{%- if page.outro and page.outro.size > 0 -%}
    <div class="container">
        <h3 class="tour__outro">{{ page.outro }}</h3>
    </div>
{%- endif -%}